.Verification {
  border-radius: 1rem;
  background-color: var(--white_1);
  box-shadow: 0 4px 30px var(--transparent_1);
  outline: 1px solid var(--transparent_3);
  color: var(--black_1);
  padding: 2.5rem;
  max-width: fit-content;
  width: 100%;
  transition: box-shadow 0.2s ease;

  @media (max-width: 600px) {
    font-size: var(--fSize14);
  }

  &:hover {
    box-shadow: 1px 1px 1px var(--transparent_1);
  }

  &-title {
    font-size: var(--fSize24);
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;

    @media (max-width: 600px) {
      font-size: var(--fSize18);
    }
  }

  &-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
    margin-bottom: 1.75rem;
  }

  &-input {
    width: 40px;
    height: 40px;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    background-color: var(--white_2);
    box-shadow:
      inset 3px 3px 6px var(--gray_1),
      inset -3px -3px 6px var(--white_1);
    padding-left: 1rem;
    transition: box-shadow 0.4s ease-in-out;

    @media (max-width: 600px) {
      width: 30px;
      height: 30px;
      font-size: var(--fSize14);
      padding-left: 0.5rem;
    }

    &:hover,
    &:focus {
      box-shadow:
        inset 0px 0px 0px var(--gray_1),
        inset 0px 0px 0px var(--white_1);
      outline: 1px solid var(--transparent_5);
    }
  }

  &-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &-submit,
  &-cancel {
    padding: 0.85rem 2.5rem;
    width: fit-content;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    transition:
      box-shadow,
      filter 0.2s ease-in-out;
    box-shadow:
      1px 1px 3px var(--gray_1),
      -1px -1px 3px var(--white_1);
    font-size: var(--fSize16);
    font-weight: 600;
    filter: brightness(90%);
    cursor: pointer;
  
    @media (max-width: 600px) {
      padding: 0.5rem 1.5rem;
      font-size: var(--fSize14);
    }

    &:active {
      box-shadow:
        inset 3px 3px 6px var(--gray_1),
        inset -3px -3px 6px var(--white_1);
    }

    &:hover,
    &:focus {
      filter: brightness(100%);
    }
  }
}
